body{
    margin: 30px;
    text-align: center;
    font-size: 20px;
}
*{
    background-color: rgba(198, 243, 227, 0.603);  
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
  } 
  .inputStyle{
    margin-left: 10px;
    width: 100px;
    padding: 1em;        
}
.heading{
    text-shadow: 2px 2px 5px red;
    font-size: 5vw;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;      
}
